<h1>User Profile</h1>

<p id="notice"><%= notice %></p>

<div class="userProfile">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Reservations: TODO:</strong>
  </p>
</div>

<%= link_to 'Edit', edit_user_path(@user), :class => 'scaffButton' %>
<%= link_to 'Back', users_path, :class => 'scaffButton' %>
