<h1>User Profile</h1>

<p id="notice"><%= notice %></p>

<div class="userProfile">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Reservations: TODO:</strong>
    <ul>
      <% @user.reservations.each do |r| %>
        <li><%= link_to r.flight.airplane.name, reservations_path(r) %></li>
      <% end %>
    </ul>
  </p>
</div>

<%= link_to 'Edit', edit_user_path(@user), :class => 'scaffButton' %>
<%= link_to 'Back', users_path, :class => 'scaffButton' %>
